CHANNEL_ID="86442135xxxxxxxxxx"
BOT_TOKEN="ODY2NjUyNjEzNzxxxxxxxxxx.xxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxx"
SECRET_URL="https://xxxxxxxxxx:xxxx/xxxxxxxxxxxxxxxx"
ROLE_CALL="86404724xxxxxxxxxx"
ROLE_COM="86404982xxxxxxxxxx"
ROLE_DATA="86404773xxxxxxxxxx"
ROLE_FB="86404996xxxxxxxxxx"
ROLE_WEB="86405010xxxxxxxxxx"